.mainWindow {
    -fx-background-color: #ecf4ff;
}

.taMessage{
    -fx-background-color: #ecf4ff;
}

.line{
    -fx-stroke: #0093ff;
}

.taMessage .content {
    -fx-background-color: #ecf6ff;
    -fx-border-color: #0093ff;
    -fx-border-radius: 10 10 10 10;
}