.mainWindow {
    -fx-background-color: #ecf4ff;
}

.taMessage{
    -fx-background-color: #ecf4ff;
}

.line{
    -fx-stroke: #0093ff;
}

.taMessage .content {
    /*-fx-background-color: #ecf4ff ;*/
}