.mainWindow {
    -fx-background-color: #ecf4ff
}

.text{
    -fx-text-alignment: center;
    -fx-font-size: 20px;
    -fx-font-style: normal;
    -fx-display-caret: true;
    -fx-border-width: 0;
    -fx-alignment: center;
    -fx-background-color: inherit;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.button{
    -fx-text-fill: rgba(255, 255, 255, 0.8);
    -fx-border-width: 0;
    -fx-background-color: #4169E1;
    -fx-font-size: 15px
}

.button:hover{
    -fx-effect: dropshadow(gaussian, #9ba6a8, 15, 0.0001, 0.05, 0.05);
}